# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
df = black_friday.copy()

In [8]:
df.sample(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
206136,1001769,P00249142,M,26-35,17,C,0,1,5,NaN,NaN,3521
359981,1001434,P00062842,F,0-17,10,A,0,0,1,2.0,13.0,4126
149956,1005137,P00042842,M,18-25,18,C,4+,0,5,NaN,NaN,8848
28220,1004310,P00255942,M,26-35,4,C,2,1,1,16.0,NaN,19006
256209,1003531,P00362342,F,26-35,11,C,1,1,5,NaN,NaN,7162
479395,1001810,P00370642,M,51-55,13,A,1,1,8,16.0,NaN,9709
179866,1003792,P0096642,M,26-35,6,A,1,0,2,3.0,4.0,9580
90756,1001944,P00335942,F,18-25,4,C,1,0,8,NaN,NaN,5839
23649,1003683,P00316842,M,26-35,2,B,3,1,4,5.0,NaN,2145
517584,1001699,P00189842,F,26-35,19,A,0,0,3,4.0,5.0,13602

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [118]:
def q1():   
    return df.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [117]:
def q2():
    return df[ (df['Age'] == '26-35') & (df['Gender'] == 'F')]['User_ID'].count()

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [19]:
def q3():
    return df['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [27]:
def q4():
    return df.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [46]:
def q5():
    df['count_null'] = df.isna().sum(axis=1)
    return df[df['count_null'] > 0]['User_ID'].count()/df.shape[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [20]:
def q6():
    
    return df.isnull().sum().max()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [116]:
def q7():
    aux = df['Product_Category_3'].value_counts().head(1)
    return aux.index[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [65]:
def q8():
    df['purchase_normalized'] = (df['Purchase'] - df['Purchase'].min()) / \
                                ( df['Purchase'].max() - df['Purchase'].min())
    
    return df['purchase_normalized'].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [75]:
def q9():
    df['purchase_satandadized'] = (df['Purchase'] - df['Purchase'].mean()) / df['Purchase'].std()
    return df[(df['purchase_satandadized'] >= -1) & (df['purchase_satandadized'] <= 1)]['User_ID'].count()

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [147]:
def q10():
    aux = df[df['Product_Category_2'].isnull()]
    
    return aux['Product_Category_2'].isnull().sum() == aux['Product_Category_3'].isnull().sum()